.card {
    padding: 15px;
    margin: 20px 0;
    width: fit-content;
    border: 1px solid #9e9e9e;
}

.current {
    border: 1px solid #bde4f9;
    background-color: #bde4f9;
}

button {
    background-color: #0d47a1;
    color: white;
    margin-right: 5px;
}
  
button:disabled {
    background-color: #9e9e9e;
}